{{> head }}
{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>I am Batman</h1>
            <p>
                Caballero oscuro. El mejor detective del mundo Lo que sea que lo conozca como, 
                donde sea que lo conozca -las películas de gran éxito, los programas de televisión, los videojuegos, 
                los dibujos animados o millones de comics-, Batman es una prueba de que no necesita superpoderes para ser 
                un superhéroe ... y el póster de lo que la mala infancia puede hacerte.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/5.jpg" class="img-thumbnail">
        </div>

    </div>


{{> footer }}